/target
/lib
/bin
/classes
/checkouts
/images
/merikens-2ch-browser.clj
/merikens-2ch-browser.hsqldb.tmp
/.settings
pom.xml
*.jar
*.class
/.lein-*
/.env
/.nrepl-port
/.project
/*.log
/merikens-2ch-browser.log.*
/merikens-2ch-browser-log4j.*
/merikens-2ch-browser.h2.db
/merikens-2ch-browser.hsqldb.*
/merikens-2ch-browser-backup.h2.db
/merikens-2ch-browser-backup.hsqldb.*
